@model IEnumerable<NTSIH.Models.rMedico_Calendario>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.registro_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCalendario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mPersona.identificacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.registro_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCalendario.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona.identificacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
