@model NTSIH.Models.mTratamiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>mTratamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCita.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCita.motivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.registro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
