@model IEnumerable<NTSIH.Models.mTratamiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCita.motivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Catalogo.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mCita.motivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.registro_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.registro_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.registro_id })
        </td>
    </tr>
}

</table>
