@model NTSIH.Models.mAtencion

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />

<div>
    <h4>Atencion al Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.examenes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examenes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mCita.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mCita.motivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cita_id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
