@model IEnumerable<NTSIH.Models.mAtencion>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />


<p>
    @Html.ActionLink("Crear Nueva Atención", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examenes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCita.motivo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.examenes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCita.motivo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.cita_id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.cita_id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.cita_id })
            </td>
        </tr>
    }

</table>
