@model IEnumerable<NTSIH.Models.mAtencion>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />


<p>
    @Html.ActionLink("Crear Nueva Atención", "Create")
</p>
<table id="TablaPersonas" class="table table-striped table-bordered" style="width:80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mCita.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCita.hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCita.motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diagnostico)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.examenes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.receta)
                </th>*@
            <th>
                PACIENTE
                @*@Html.DisplayNameFor(model => model.mCita.mPersona.nombres)*@
            </th>
            <th>
                DOCTOR
                @*@Html.DisplayNameFor(model => model.mCita.mPersona1.nombres)*@
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mCita.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCita.hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCita.motivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diagnostico)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.examenes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.receta)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.mCita.mPersona.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mCita.mPersona1.nombres)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.cita_id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.cita_id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.cita_id })
                </td>
            </tr>
        }

</table>
<br />
<br />
<br />

<div id="msgerror" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta"><b>@ViewBag.error</b></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
