@model IEnumerable<NTSIH.Models.Catalogo>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>

<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>
<p>
    @Html.ActionLink("Crear Nuevo Atributo de Catálogo", "Create")
</p>
<table id="tabla_Catalogos" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCatalogo.catalogo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCatalogo.catalogo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.registro_id }) |
                @Html.ActionLink("Details", "Detalles", new { id = item.registro_id }) |
                @Html.ActionLink("Delete", "Eliminar", new { id = item.registro_id })
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $('#tabla_Catalogos').DataTable();
    });
</script>
