@model IEnumerable<NTSIH.Models.Catalogo>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />
<p>
    @Html.ActionLink("Crear Nuevo Atributo de Catálogo", "Create")
</p>

<table id="tabla_Catalogos" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mCatalogo.catalogo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCatalogo.catalogo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.registro_id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.registro_id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.registro_id })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />

<div id="msgerror" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta"><b>@ViewBag.error</b></div>
