@model IEnumerable<NTSIH.Models.mAuditoria>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />

<p>
    @Html.ActionLink("Crear nuevo Registro", "Create")
</p>
<table id="TablaPersonas" class="table table-striped table-bordered" style="width:80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modulo_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sentencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mPersona.identificacion)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modulo_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sentencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mPersona.identificacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.registro_id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.registro_id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.registro_id })
                </td>
            </tr>
        }

</table>
<br />
<br />
<br />

<div id="msgerror" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta"><b>@ViewBag.error</b></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
