@model NTSIH.Models.mPersona

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />


<div>
    <h4>Módulo Personas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_electronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo2.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo3.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo3.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.registro_id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
