<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Hospitalario</title>
    
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background: -webkit-linear-gradient(90deg, lightgray 50%, lightstellblue 75%)">
    <header style="background-color: darkblue; color: white; text-align: center">
        <br /><h3>Sistema Hospitalario</h3><br />
    </header>


    <nav class="row" style="background-color: gray; height:35px;margin: 0px 0px 0px 0px">
        <div class="btn-group">

            <button class="btn btn-primary" onclick="location.href = '/mParametros/Index'">Parametros</button>
            <button class="btn btn-primary" onclick="location.href = '/mCatalogos/Index'">Ma. Catalogos</button>
            <button class="btn btn-primary" onclick="location.href = '/Catalogos/Index'">Atr. Catalogos</button>
            <button class="btn btn-primary" onclick="location.href = '/mCalendarios/Index'">Calendarios</button>
            <button class="btn btn-primary" onclick="location.href = '/mPermisos/Index'">Permisos</button>
            <button class="btn btn-primary" onclick="location.href = '/mPersonas/Index'">Personas</button>
            <button class="btn btn-primary" onclick="location.href = '/mCitas/Index'">Citas</button>
            <button class="btn btn-primary" onclick="location.href = '/mAtencions/Index'">Atenciones</button>
            <button class="btn btn-primary" onclick="location.href = '/mAuditorias/Index'">Auditoria</button>
            <button class="btn btn-primary" onclick="location.href = '/rRol_Persona/Index'">Roles</button>
            <button class="btn btn-primary" onclick="location.href = '/rMedico_Calendario/Index'">Cal Médico</button>
            <button class="btn btn-primary" onclick="location.href = '/Acceso/Cerrar'">Cerrar Sesión</button>

        </div>
    </nav>
    <main class="row" style="margin: 2% 2% 2% 2%; background-color:beige; width:96%">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer style="background-color: darkblue; color: white; text-align: center ">
        <br /><small>&copy; @DateTime.Now.Year  Todos los derechos reservados 2022 -      German Camacho B.</small><br />
    </footer>

    <script src="~/Scripts/bootstrap.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    
    @*La siguiente instruccion es para el manejo de las fechas con calendarios*@
    @*<script type="text/javascript">
        $(function () {
            
            $('#fecha_nacimiento').datepicker({
                dateFormat: 'yy/mm/dd',
                changeMonth: true,
                changeYear: true,
                minDate: new Date(1900, 1, 1)
            }).val();
            
        });
    </script>*@
</body>

</html>


@*<style type="text/css">
       #caja {
       height: 30px;
       }
       #texto-left {
       float: left;
       }
       #texto-rigth {
       float: right;
       }
</style >*@

