@model NTSIH.Models.rRol_Persona

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue; height:50px" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.msgmodulo</b> - -</div>
    <div id="texto-rigth" style="color: black; height:50px" class="alert">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />


<h3>Está seguro de eliminar el registro?</h3>
<div>
    <h4>rRol_Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.registro_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registro_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPersona.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPersona.identificacion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
