@model NTSIH.Models.rRol_Persona

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />


<div>
    <h4>rRol_Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.registro_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registro_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPersona.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPersona.identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar", "Index")
</p>
