@model IEnumerable<NTSIH.Models.rRol_Persona>

@{
    ViewBag.Title = "Sistema Hospitalario En Línea";
    Layout = ViewBag.layout;
}
<div id="caja">
    <div id="texto-left" style="color: blue" class="alert alert-@ViewBag.alerta">- - <b>@ViewBag.mensaje</b> - -</div>
    <div id="texto-rigth">@ViewBag.acceso</div>
</div>
<br />
<br />
<br />

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table id="TablaPersonas" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.registro_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catalogo.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mPersona.identificacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.registro_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalogo.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mPersona.identificacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

